repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true

      - id: mypy
        name: mypy
        entry: mypy bis_scraper
        language: system
        pass_filenames: false
        always_run: true

      - id: black
        name: black
        entry: black --check bis_scraper tests
        language: system
        pass_filenames: false
        always_run: true

      - id: isort
        name: isort
        entry: isort --check bis_scraper tests
        language: system
        pass_filenames: false
        always_run: true

      - id: ruff
        name: ruff
        entry: ruff check bis_scraper tests
        language: system
        pass_filenames: false
        always_run: true
